@use 'chartist/dist/index' as chartist with (
    $ct-series-colors: (
        #d70206,
        #e68507,
        #59922b,
        #f05b4f,
        #d70206,
        #453d3f,
        #0544d3,
        #6b0392,
        #e6805e,
        #dda458,
        #eacf7d,
        #86797d,
        #b2c326,
        #6188e2,
        #a748ca
    )
);

#chart {
    height: 50vh;
}

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line,
.ct-series-e .ct-line {
    /* Set the colour of this series line */
    //stroke: red;
    /* Control the thickness of your lines */
    stroke-width: 1px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 10px 10px;
}

.ct-series-b .ct-line,
.ct-series-d .ct-line {
    //stroke: orange;
    stroke-width: 1px;
    stroke-dasharray: 5px 5px;
}

.ct-series-c .ct-line {
    //stroke: green;
    stroke-width: 1px;
    stroke-dasharray: 10px 10px;
}

// percentiles
.ct-series-a .ct-point, 
.ct-series-b .ct-point,
.ct-series-c .ct-point,
.ct-series-d .ct-point,
.ct-series-e .ct-point {
    display: none;
}

// children
/*
.ct-point {
    display: none;
}

.ct-series-f .ct-point, 
.ct-series-g .ct-point,
.ct-series-h .ct-point {
    display: block;
}
*/

.ct-legend {
    margin-top: 1em;
    position: relative;
    z-index: 10;

    li {
        //display: inline flow-root;
        position: relative;
        padding-left: 23px;
        padding-right: 23px;
        margin-bottom: 3px;
    }

    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    @for $i from 1 through length(chartist.$ct-series-names) {
        $n: nth(chartist.$ct-series-names, $i);
        $c: nth(chartist.$ct-series-colors, $i);

        .ct-series-#{$n}:before {
            background-color: $c;
            border-color: $c;
        }
    }
}