@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
  min-width: 350px;

  background-image: linear-gradient(to bottom,
      #fae0b4 200px,
      white 275px,
      white 100%);
}

h2 {
  font-family: 'Jersey 15', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;

  &::before {
    content: '> ';
  }

  &::after {
    content: ' <';
  }
}

header {
  // flex row layout
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  background-clip: content-box;
  background-image: url('../assets/logo.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 40px;
  border-width: 8px;
  border-top-style: dashed;
  border-top-width: 3px;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  border-right-style: solid;
  border-left-style: solid;

  margin: 5px 5px;

  width: 200px;
  min-width: 200px;
  height: 200px;

  &:hover {
    transform: scale(-1, 1);
  }
}

.title-container {
  // flex column layout
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Jersey 15', sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: calc(2em + 2 * (100vw - 120px) / 100);

  text-transform: uppercase;
  text-align: center;
}

.tagline {
  text-align: center;
}

blockquote {
  p::before {
    content: '\201C';
  }

  p::after {
    content: '\201D';
  }
}

details {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 0 0 0.5em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary a {
  float: right;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid;
  margin-bottom: 0.5em;
}

fieldset {
  margin-bottom: 0.5em;
}

fieldset ol,
fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset li {
  padding-bottom: 0.5em;
  float: none;
  clear: left;
}

li label.main {
  display: inline-block;
  min-width: 100px;
}

li input {
  display: inline-block;
  text-align: left;
}

input:invalid {
  border-color: red;
  border-style: dashed;
}

.error {
  display: none;
  color: red;
  padding-left: 0.5em;
}

input:not(:placeholder-shown):invalid+.error {
  display: inline-block;
}

a.icon {
  text-decoration: none;
}

// Responsive tables
table {
  width: 100%;
  border-collapse: collapse;
}

// Zebra striping
tr:nth-of-type(even) {
  background: #eee;
}

th {
  background: #ddd;
  font-weight: bold;
}

td,
th {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}

caption {
  display: none;
}

// Small screens
@media only screen and (max-width: 820px) {

  // Force table to not display like tables anymore
  table,
  thead,
  tbody,
  th,
  tr,
  td,
  td::before {
    display: block;
  }

  // Hide table headers (but not display: none;, for accessibility)
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin: 1em 0;
  }

  tr:nth-of-type(even) {
    background: unset;
  }

  // First column of the row to display like a header
  tr td:nth-child(1) {
    background: #ddd;
  }

  // Synthetic label displayed instead of table headers
  td:before {
    display: inline-block;
    min-width: 180px;
    padding-right: 15px;
    white-space: nowrap;
    font-weight: bold;
    content: attr(data-label);
  }
}